<%= form_for(@user, :html => {class: "ui form", role: "form"}) do |f| %>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username, placeholder: "Enter username...", autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control", placeholder: "Enter password..." %>
  </div>
  <%= f.submit(@user.new_record? ? "Sign Up" : "Update Account", class: "ui button") %>
<% end %>